*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}

.training-section{
    width:100%;
    background-image:url("back\ ground.jpg") ;
    /*background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80");*/
    background-size:cover;
    text-align: center;
    padding-bottom: 50px;
}
.training-section h1{
    text-align: center;
    padding:25px 0px;
}

.container{
    width:1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
    border:1px solid red; 
}

.training-items{
    flex-basis: 23%;
    text-align: center;
    padding:20px 0px;
    margin:10px 0px;
    background:white;
    box-shadow:0px 0px 10px 3px lightgray;
}


.training-items h3{
    padding:10px 0px;
}

.training-items p{
    font-size:13px;
    padding: 10px;
}

.training-items button{
    background:blue;
    padding:10px 25px;
    margin:10px 0px;
    border:none;
    color:white;
    border-radius: 10px;
}

.training-items:hover{
    background:blue;
}

.training-items:hover h3,.training-items:hover p{
    background:white;
}
.training-items:hover button{
    background:white;
    color:blue;
}

@media only screen and (min-width:200px) and (max-width:767px){
.container{
    width:100%;
    flex-direction: column;
}
.training-items{
    margin:10px;
}
}
